
/**
 * Import the parts making up the typographic grid.
 */
@import "typography-font-families.less";
@import "typography-defaults.less";


@magicNumber: 24px;
@fontSizeBody: 16px;

@fontFamilyHeadings: @fontFamilyCambria;
@fontFamilyBody: @fontFamilyCalibri;
@fontFamilyCode: @fontFamilyCourier;

#desinax-hgrid.activateDefaultTypography();

.hgrid .wrap-all {
    #desinax-hgrid.showGridAlt();

    .row {
        margin-bottom: 20px;
        background-color: white;
    }
}
